<div>
  <div class="top-section">
    <div class="member-details-section">
      <div>
        <label for="memberid"><b>Membership No *</b></label>
        <input type="text" placeholder="Enter Member ID" [(ngModel)]="memberDetails.memberId" required>
      </div>
      <div>
        <label for="name"><b>User Name *</b></label>
        <input type="text" placeholder="Enter Member Name" [(ngModel)]="memberDetails.memberName" required>
      </div>
      <div>
        <label for="name"><b>Duration of Rental (in days) *</b></label>
        <input type="number" [(ngModel)]="memberDetails.duration" (change)="changeDuration(memberDetails.duration)" required>
      </div>
      <div>
        <label for="name"><b>Return Date *</b></label>
        <input type="text" [(ngModel)]="memberDetails.returnDate" [disabled]="true">
      </div>
    </div>
    <div class="card-section">
      <app-card [cardDetails]="availableBookDetails"></app-card>
    </div>
  </div>
  <div class="table-section">
    <app-table [inputTableData]="getBooksTableData" (rowselectEvent)="rowSelection($event)"></app-table>
  </div>
  <div class="bottom-section">
    <button class="btn default">Cancel</button>
    <button class="btn" [ngClass]="(!memberDetails.memberId || !memberDetails.memberName || !memberDetails.duration || (!selectedRows || !selectedRows.length)) ? 'btn-disabled' : 'success'" (click)="lendBooks()">Lend Books</button>
  </div>
</div>
